<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <h1>Admin Panel</h1>
        <nav>
            <ul>
                <li><a href="/">Back to Yillik</a></li>
                <li><a href="/admin/edit">Admin Data Editor</a></li>
                <li><a href="/admin/logs">Admin Login Logs</a></li>
                <li><a href="/admin/logout">Admin LogOut</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>